// google fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

// Background
$radial-gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);

// Neutral
$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(
    circle,
    #1f3756,
    #1b2e4f,
    #182648,
    #161d41,
    #141539
  );
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
  padding: 0.5rem 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.overlay {
  width: 100%;
  height: 100vh;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
}

.overlay.active {
  display: block;
}

.rules-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 99;
  background-color: #fff;
  width: 500px;
  height: 60vh;
  border-radius: 20px;

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    .modal-title {
      color: $dark-text;
      font-size: 2rem;
    }
    .close {
      width: 20px;
      cursor: pointer;
    }
  }
  img {
    width: 80%;
    padding: 1rem 0;
  }
}

.score-board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  border: 2px solid $header-outline;
  border-radius: 10px;
  padding: 0.8rem 1.5rem;
  margin: 0 auto;

  .score {
    text-align: center;
    background-color: #fff;
    padding: 0.8rem 3rem;
    border-radius: 10px;
    .score-text {
      color: $score-text;
      font-weight: 300;
    }
    .score-number {
      color: $dark-text;
      font-size: 3.5rem;
      font-weight: 700;
    }
  }
}

.dice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0px -9px 2px 0px rgba(0, 0, 0, 0.36);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  .inner-circle {
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 10px 2px 0px rgba(0, 0, 0, 0.2);
    .icon {
      width: 55px;
    }
  }
}

.dice-controller {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .dice {
    position: absolute;
  }
  .paper {
    top: 12%;
    right: -18%;
  }
  .scissor {
    top: -25%;
  }

  .rock {
    bottom: -20%;
    right: 0%;
  }

  .lizard {
    bottom: -20%;
    left: 0%;
  }

  .spock {
    top: 12%;
    left: -18%;
  }
}

.dice-field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70vh;
  margin: 0 auto;

  .diced {
    display: flex;
    flex-direction: column;
    align-items: center;
    .dice {
      width: 150px;
      height: 150px;
      .inner-circle {
        width: 115px;
        height: 115px;
      }
    }

    .blank {
      background-image: transparent;
      box-shadow: none;
      .inner-circle {
        background-color: #19233a;
      }
    }

    span {
      padding: 2rem 0;
      font-size: 1.4rem;
      letter-spacing: 0.5px;
      color: #fff;
      white-space: nowrap;
    }

    .dice {
      pointer-events: none;
    }
  }

  .game-result {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
    h2 {
      padding: 0.5rem 0;
      font-size: 3.5rem;
      color: #fff;
      white-space: nowrap;
    }

    .play-again {
      font-size: 1rem;
      color: $dark-text;
      background-color: #fff;
      font-weight: 600;
      padding: 1rem 0;
      border-radius: 10px;
      border: none;
      cursor: pointer;
    }
  }
}

.show-rules {
  color: #fff;
  border: 2px solid #fff;
  padding: 0.7rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .score-board {
    width: 100%;
    .score {
      padding: 0.2rem 2rem;
    }
    .game-title {
      img {
        width: 65%;
      }
    }
  }

  .dice {
    width: 150px;
    height: 150px;
    box-shadow: inset 0px -6px 2px 0px rgba(0, 0, 0, 0.36);
    .inner-circle {
      width: 110px;
      height: 110px;
      box-shadow: inset 0px 7px 2px 0px rgba(0, 0, 0, 0.2);
      .icon {
        width: 50px;
      }
    }
  }

  .dice-controller {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dice-field {
    .diced {
      flex-direction: column-reverse;
      margin: 0 1rem;
    }
    .game-result {
      position: absolute;
      transform: translate(0%, 200%);
      margin: 0;
      h2 {
        font-size: 3rem;
      }
      .play-again {
        font-size: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .container {
    padding: 0 1rem;
    align-items: center;
    justify-content: space-around;
  }
  .rules-modal {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    justify-content: space-evenly;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translate(0%, 0%);
  }
  .dice {
    width: 120px;
    height: 120px;
    box-shadow: inset 0px -6px 2px 0px rgba(0, 0, 0, 0.36);
    .inner-circle {
      width: 95px;
      height: 95px;
      box-shadow: inset 0px 7px 2px 0px rgba(0, 0, 0, 0.2);
      .icon {
        width: 50px;
      }
    }
  }

  .dice-controller {
    display: flex;
    align-items: center;
    justify-content: center;

    .controller {
      width: 80%;
    }

    .rock {
      bottom: -15%;
      right: 8%;
    }
    .paper {
      right: 0%;
    }
    .spock {
      left: 0%;
    }
    .lizard {
      bottom: -15%;
      left: 8%;
    }
  }

  .dice-field {
    align-items: flex-start;
    height: 50vh;
    width: 100%;
    .diced {
      span {
        font-size: 1rem;
      }
    }

    .game-result {
      top: 50%;
      transform: translate(0%, 75%);
    }
  }
}
